
{% extends 'base.html' %}

{% block navigation %}
 {{ super() }}
{% endblock %}
{% block content %}
<h1>Sign up for a new user account</h1>
{% endblock %}
{% block content2 %}
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.username.label }} {{ form.username() }}

    {{ form.password.label }} {{ form.password() }}
    {{ form.password2.label }} {{ form.password2() }}
    Upload Profile Picture: {{ form.file }}
    <br>
	<button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action">
	<p>{{ form.submit() }}</p>
	</button>
	<br>
</form>
{% endblock %}